<label>Server Name</label>
<!-- EVENT BINDING on input event using $event -->
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->

<!-- TWO WAY DATABINDING -->
<input type="text" class="form-control" [(ngModel)]="serverName">
<!-- <p>{{ serverName }}</p> -->
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
<!-- STRING INTERPOLATION for printing allowNewServer property value -->
<!-- <p>{{ allowNewServer }}</p> -->

<!-- PROPERTY BINDING for printing allowNewServer property value -->
<!-- <p [innerText]="allowNewServer"></p> -->

<p>{{ serverCreationStatus }}</p>
<app-server></app-server>
<app-server></app-server>
